.app_grid{
  display: grid;
  grid-template-columns: 200px auto 200px;
  min-height: 95vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 3rem 0;
  /* background-color: aqua; */
}

.aside_left{
  display: grid;
  place-content: center;
}

.heading{
  font-size: 1.2em;
  letter-spacing: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  rotate: 180deg;
  color: #A7A8CD;
}

.aside_right{
  display: grid;
  place-content: center;
  row-gap: 2em;
  color: #A7A8CD;

}

.right_aside_div{
  display: grid;
  justify-content: center;
  justify-items: center;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app_grid{
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: 1fr;
    min-height: 95vh;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  .heading{
    font-size: 1em;
    letter-spacing: 10px;
    writing-mode: lr;
    /* text-orientation: mixed; */
    rotate: 0deg;
    color: #A7A8CD;
  }
}
